<div class="container">

  <div class="title">
    <h1>We want to grow <small class="color-secondary">¡Be part!</small></h1>
  </div>
  
  <div [ngClass] = "{'header': true, 'header-complete': targetComplete}">
    <span><b>${{remaining}}</b> still needed for this project </span>
  </div>
  <div [ngClass] = "{'header-before': true, 'header-before-complete': targetComplete}"></div>

  <div class="spacer"></div>

  <div class="bar">
    <div [ngClass] = "{'progress': true, 'progress-complete': targetComplete}" [ngStyle]="{width: progress}"></div>
  </div>

  <div class="box">
    <div class="date-box">
      <p><span class="color-primary"><b>Only {{Date}} days left</b></span> to found this project.</p>
      <p class="date">Until 31 March</p>
    </div>

    <p>Join the <b>{{ donorCount > 0 ? donorCount : '' }}</b> other donors who have already supported this project. Every dollar helps.</p>

    <div class="action">
      <span class="currencyinput">$<input type="number" min="1" max="250" [(ngModel)]="donationValue" [disabled]="targetComplete || targetIncompleteByDate" required></span>
      <button class="btn btn-primary" (click)="donate()" title="Give now" [disabled]="targetComplete || targetIncompleteByDate">Give now</button>
    </div>
    
    <div class="spacer"></div>

    <small class="color-primary" *ngIf="quantityError">Please enter a value between 1 and 250</small>
    <small class="color-secondary" *ngIf="donation && !targetComplete">¡Thanks for your donation!</small>
    <small *ngIf="!targetComplete && !targetIncompleteByDate && !donation && !quantityError" class="color-secondary"><i>Why give $50?</i></small>
    <small *ngIf="targetComplete" class="color-secondary"><b>We have reached our goal thanks for your support.</b> </small>
    <small *ngIf="targetIncompleteByDate" class="color-primary"><b>This time we did not reach our goal, but we greatly appreciate your contribution.</b> </small>

  </div>

  <div class="footer action">
    <button class="btn btn-secondary" title="Save for later">Save for later</button>
    <button class="btn btn-secondary" title="Tell your friends">Tell your friends</button>
  </div>
  
</div>

<!-- Modal -->
<div class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <p class="close-button" (click)="openModal()" title="Cerrar">x</p>
    </div>
      <div class="circle">
        <div class="modal-subtitle">
          <p>¡Thank you!</p>
          <small>We made it possible</small>
        </div>
        <p class="modal-title">$250</p>
      </div>
      <img src="https://estephanyc.github.io/prueba-tec/assets/img/winner.png" alt="">
  </div>
</div>
